---
layout: default
lang: en
---

<section class="welcome-section">
  <div class="wrapper">
    <h1>Custom web application development with <span style="white-space: nowrap">Ruby on Rails</span></h1>
    <h2>Freelance Consulting, Lille, France</h2>
    <div class="cta">
      <a href="#contact" class="btn inverted">Contact Me</a>
    </div>
  </div>
</section>

<section id="services" class="services-section">
  <div class="wrapper">
    <h1>How can I help you ?</h1>
    <p>I focus on bringing value to your business and helping you reach your objectives. As a software engineer I can work with you on the following topics:</p>
    <ul class="services-list">
      <li class="service">
        <h2 class="service-title">Design</h2>
        <p class="service-description">
          Analysis of your project to determine its architecture and technological choices
        </p>
      </li>
      <li class="service">
        <h2 class="service-title">Team reinforcement</h2>
        <p class="service-description">
          I can join your team in the development effort and help reduce your time to market
        </p>
      </li>
      <li class="service">
        <h2 class="service-title">Quality</h2>
        <p class="service-description">
          Best practices implementation: tools, sources management, automated testing, <span style="white-space: nowrap">security ...</span>
      </li>
      <li class="service">
        <h2 class="service-title">Refactoring</h2>
        <p class="service-description">
          Code refactoring helps keeping your product maintainable and your company responsive to change
        </p>
      </li>
      <li class="service">
        <h2 class="service-title">Optimisation</h2>
        <p class="service-description">
          Code performance improvement: algorithmics, data structures, <span style="white-space: nowrap">database queries ...</span>
        </p>
      </li>
    </ul>
    <div class="cta">
      <a href="#contact" class="btn">Contact Me</a>
    </div>
  </div>
</section>

<section id="technologies" class="technologies-section">
  <div class="wrapper">
    <h1>Technologies</h1>
    <p>My current technical stack relies essentially on Ruby, Ruby on Rails, PostgreSQL and related tools</p>
    <ul class="technologies-list">
      <li class="technology">{% include icon-ruby.html %}</li>
      <li class="technology">{% include icon-rails.html %}</li>
      <li class="technology">{% include icon-postgresql.html %}</li>
    </ul>
    <div class="cta">
      <a href="#contact" class="btn">Contact Me</a>
    </div>
  </div>
</section>

<section id="contact" class="contact-section">
  <div class="wrapper">
    <h1>Contact</h1>
    <p>It is time to talk to me about your project ! Just fill in the gaps or contact me at <span class="contact-email">contact@cassisdev.com</span>:</p>
    <form class="contact-form" action="//formspree.io/contact@cassisdev.com" method="POST" target="_blank">
      <input class="field" type="text" name="name" placeholder="Your name" required>
      <input class="field" type="email" name="_replyto" placeholder="Your email" required>
      <input class="field" type="text" name="subject" placeholder="Subject" required>
      <textarea class="field" name="message" placeholder="Message" required rows="10"></textarea>
      <div class="cta">
        <input type="submit" class="submit-btn" value="send">
      </div>
  </form>
  </div>
</section>
