---
layout: default
lang: en
---

<section class="section welcome-section">
  <div class="wrapper">
    <h2>Ruby on Rails web application development</h2>
    <p class="subtitle">Freelance Consulting, Lille, France</p>
    <div class="cta">
      <a href="#contact" class="btn btn-inverted">Contact Me</a>
    </div>
  </div>
</section>

<section id="services" class="section services-section">
  <div class="wrapper">
    <h2>Services</h2>
    <p>I focus on bringing value to your business and helping you reach your objectives. As a software engineer I can work with you on the following topics:</p>
    <ul class="services-list">
      <li class="service-item">
        <h3 class="service-title">Design</h3>
        <p class="service-description">
          Analysis of your project to determine its architecture and technological choices
        </p>
      </li>
      <li class="service-item">
        <h3 class="service-title">Team reinforcement</h3>
        <p class="service-description">
          I can join your team and help to develop your product features (Payment system, API, backoffice, search engine &hellip;)
        </p>
      </li>
      <li class="service-item">
        <h3 class="service-title">Quality</h3>
        <p class="service-description">
          Best practices implementation: tools, sources management, automated testing, <span style="white-space: nowrap">security &hellip;</span>
      </li>
      <li class="service-item">
        <h3 class="service-title">Refactoring</h3>
        <p class="service-description">
          Keep your product maintainable and your company responsive to change by cleaning and refactoring your code base
        </p>
      </li>
      <li class="service-item">
        <h3 class="service-title">Optimisation</h3>
        <p class="service-description">
          Code performance improvement: algorithmics, data structures, <span style="white-space: nowrap">database queries &hellip;</span>
        </p>
      </li>
    </ul>
    <div class="cta">
      <a href="#contact" class="btn">Contact Me</a>
    </div>
  </div>
</section>

<section id="technologies" class="section technologies-section">
  <div class="wrapper">
    <h2>Technologies</h2>
    <p>My current technical stack relies essentially on Ruby, Ruby on Rails, PostgreSQL and related tools</p>
    <ul class="technologies-list">
      <li class="technology-item">{% include icon-ruby.html %}</li>
      <li class="technology-item">{% include icon-rails.html %}</li>
      <li class="technology-item">{% include icon-postgresql.html %}</li>
    </ul>
    <div class="cta">
      <a href="#contact" class="btn">Contact Me</a>
    </div>
  </div>
</section>

<section id="contact" class="section contact-section">
  <div class="wrapper">
    <h2>Contact</h2>
    <p>It is time to talk to me about your project ! Contact me at <span class="contact-email">contact@cassisdev.com</span> or just fill in the gaps:</p>
    <form class="contact-form" action="//formspree.io/form@cassisdev.com" method="POST" target="_blank">
      <input class="field" type="text" name="name" placeholder="Your name" required>
      <input type="text" name="_gotcha" style="display:none" />
      <input class="field" type="email" name="_replyto" placeholder="Your email" required>
      <input class="field" type="text" name="subject" placeholder="Subject" required>
      <textarea class="field" name="message" placeholder="Message" required rows="10"></textarea>
      <div class="cta">
        <input type="submit" class="submit-btn" value="send">
      </div>
  </form>
  </div>
</section>
