---
layout: default
lang: en
---

<section class="welcome-section">
  <div class="wrapper">
    <h1>Custom web application development with <span style="white-space: nowrap">Ruby on Rails</span></h1>
    <h2>Freelance, Lille, France</h2>
    <div class="cta">
      <a href="#contact" class="btn inverted">Contact Me</a>
    </div>
  </div>
</section>

<section class="services-section">
  <div class="wrapper">
    <a name="services"></a>
    <h1>How can I help you ?</h1>
    <p>I focus on delivering value to your business and help you reach your objectives. As a software engineer I can work with you on the following topics:</p>
    <ul class="services-list">
      <li class="service">
        <h2 class="service-title">Development speed</h2>
        <p class="service-description">
          <em>Need to accelerate your product development ?</em>
          I can join your team in the effort and help reduce your time to market
        </p>
      </li>
      <li class="service">
        <h2 class="service-title">Reactivity</h2>
        <p class="service-description">
          <em>How easy (or hard!) is it to change your product ?</em>
          Code refactoring helps to keep your product maintainable and your company responsive to change
        </p>
      </li>
      <li class="service">
        <h2 class="service-title">Performance</h2>
        <p class="service-description">
          <em>Thinking your product could perform better ?</em>
          Profile the slow parts of your app and plan the required evolutions
        </p>
      </li>
      <li class="service">
        <h2 class="service-title">Reliability</h2>
        <p class="service-description">
          <em>How confident are you in your product ?</em>
          Reliability is built upon clean development practices (workflow, security, testing ...)
        </p>
      </li>
    </ul>
    <div class="cta">
      <a href="#contact" class="btn">Contact Me</a>
    </div>
  </div>
</section>

<section class="technologies-section">
  <div class="wrapper">
    <a name="technologies"></a>
    <h1>Technologies</h1>
    <p>My <em>current</em> technical stack relies essentially on Ruby, Ruby on Rails, PostgreSQL and related tools</p>
    <ul class="technologies-list">
      <li class="technology">{% include icon-ruby.html %}</li>
      <li class="technology">{% include icon-rails.html %}</li>
      <li class="technology">{% include icon-postgresql.html %}</li>
    </ul>
    <div class="cta">
      <a href="#contact" class="btn">Contact Me</a>
    </div>
  </div>
</section>

<section class="contact-section">
  <div class="wrapper">
    <a name="contact"></a>
    <h1>Contact</h1>
    <p>It is time to talk to me about your project ! Just fill in the gaps:</p>
    <form action="//formspree.io/contact@cassisdev.com" method="POST" target="_blank">
      <input class="field" type="text" name="name" placeholder="Your name" required><br>
      <input class="field" type="email" name="_replyto" placeholder="Your email" required><br>
      <input class="field" type="text" name="subject" placeholder="Subject" required><br>
      <textarea class="field" type="text" name="message" placeholder="Message" required rows="10"></textarea><br>
      <div class="cta">
        <input type="submit" class="submit-btn" value="send">
      </div>
  </form>
  </div>
</section>
