---
layout: default
---

<section class="welcome-section">
  <div class="wrapper">
    <h1>Let's grow your web application, efficiently</h1>
    <h2>Ruby on Rails web application development</h2>
    <div class="cta">
      <a href="#contact" class="btn inverted">Contact Me</a>
    </div>
  </div>
</section>

<section class="services-section">
  <div class="wrapper">
    <a name="services"></a>
    <h1>How can I help you ?</h1>
    <p>I focus on delivering value to your business and help you reach your objectives. As a software engineer I can work with you to improve your:</p>
    <ul>
      <li>
        <span class="service">Development speed</span>
        <span class="description">
          <em>Need a hand on a new feature ?</em>
          Team reinforcement to develop your product and reduce your time to market
        </span>
      </li>
      <li>
        <span class="service">Performance</span>
        <span class="description">
          <em>Thinking your app could perform better ?</em>
          Profile the slow parts of your app and plan the required evolutions
        </span>
      </li>
      <li>
        <span class="service">Reactivity</span>
        <span class="description">
          <em>Your product is getting harder to make evolve ?</em>
          Code refactoring helps to keep your products maintainable and responsive to change
        </span>
      </li>
      <li>
        <span class="service">Reliability</span>
        <span class="description">
          <em>Your product reliability comes from proper/clean development practices</em>
          Learn the best practices, code testing, security, development workflow tools, code review, pair programming
        </span>
      </li>
    </ul>
    <div class="cta">
      <a href="#contact" class="btn">Contact Me</a>
    </div>
  </div>
</section>

<section class="technologies-section">
  <div class="wrapper">
    <a name="technologies"></a>
    <h1>Technologies</h1>
    <p>My <em>current</em> technical stack relies essentially on Ruby, Ruby on Rails, PostgreSQL</p>
    <ul>
      <li>{% include icon-ruby.html %}</li>
      <li>{% include icon-rails.html %}</li>
      <li>{% include icon-postgresql.html %}</li>
    </ul>
    <div class="cta">
      <a href="#contact" class="btn">Contact Me</a>
    </div>
  </div>
</section>

<section class="contact-section">
  <div class="wrapper">
    <a name="contact"></a>
    <h1>Contact</h1>
    <form action="//formspree.io/contact@cassisdev.com" method="POST" target="_blank">
      <input class="field" type="text" name="name" placeholder="Your name" required><br>
      <input class="field" type="email" name="_replyto" placeholder="Your email" required><br>
      <input class="field" type="text" name="subject" placeholder="Subject" required><br>
      <textarea class="field" type="text" name="message" placeholder="Message" required rows="10"></textarea><br>
      <div class="cta">
        <input type="submit" class="submit-btn" value="send">
      </div>
  </form>
  </div>
</section>
