---
layout: default
lang: fr
---

<section class="section welcome-section">
  <div class="wrapper">
    <h2>Développement d'applications web <span style="white-space: nowrap">Ruby on Rails</span></h2>
    <p class="subtitle">Consultant Freelance, Lille</p>
    <div class="cta">
      <a href="#contact" class="btn btn-inverted">Contact</a>
    </div>
  </div>
</section>

<section id="services" class="section services-section">
  <div class="wrapper">
    <h2>Services</h2>
    <p>Je vous accompagne techniquement dans la réalisation de vos objectifs et vous propose une collaboration sur les thèmes <span style="white-space: nowrap">suivants :</span></p>
    <ul class="services-list">
      <li class="service-item">
        <h3 class="service-title">Conception</h3>
        <p class="service-description">
          Analyse technique de votre projet pour en définir l'architecture et les choix technologiques
        </p>
      </li>
      <li class="service-item">
        <h3 class="service-title">Renforcement d'équipe</h3>
        <p class="service-description">
          Intégration à votre équipe pour développer les fonctionnalités de votre produit (Système de paiement, backoffice, API, moteur de recherche &hellip;)
        </p>
      </li>
      <li class="service-item">
        <h3 class="service-title">Qualité</h3>
        <p class="service-description">
          Mise en place de bonnes pratiques de <span style="white-space: nowrap">développement :</span> outils, gestion des sources, tests automatisés, <span style="white-space: nowrap">sécurité &hellip;</span>
        </p>
      </li>
      <li class="service-item">
        <h3 class="service-title">Consolidation</h3>
        <p class="service-description">
          Amélioration du code existant (refactorisation) afin de préserver la maintenabilité et l'evolutivité de votre produit
        </p>
      </li>
      <li class="service-item">
        <h3 class="service-title">Optimisation</h3>
        <p class="service-description">
          Amélioration des performances : algorithmique, structures de données, requêtes de bases de <span style="white-space: nowrap">données &hellip;</span>
        </p>
      </li>
    </ul>
    <div class="cta">
      <a href="#contact" class="btn">Contact</a>
    </div>
  </div>
</section>

<section id="technologies" class="section technologies-section">
  <div class="wrapper">
    <h2>Technologies</h2>
    <p>L'environnement Ruby, Ruby on Rails, PostgreSQL est celui que j'utilise principalement (sans être exclusif et lorsque ce choix est approprié)</p>
    <ul class="technologies-list">
      <li class="technology-item">{% include icon-ruby.html %}</li>
      <li class="technology-item">{% include icon-rails.html %}</li>
      <li class="technology-item">{% include icon-postgresql.html %}</li>
    </ul>
    <div class="cta">
      <a href="#contact" class="btn">Contact</a>
    </div>
  </div>
</section>

<section id="contact" class="section contact-section">
  <div class="wrapper">
    <h2>Contact</h2>
    <p>Echangeons autour de votre projet ! Je suis disponible à Lille ou en télétravail. Vous pouvez me contacter par mail (<span class="contact-email">contact@cassisdev.com</span>) ou utiliser le formulaire ci-dessous : </p>
    <form class="contact-form" action="//formspree.io/form@cassisdev.com" method="POST" target="_blank">
      <input class="field" type="text" name="name" placeholder="Votre nom" required>
      <input type="text" name="_gotcha" style="display:none" />
      <input class="field" type="email" name="_replyto" placeholder="Votre adresse email" required>
      <input class="field" type="text" name="subject" placeholder="Sujet" required>
      <textarea class="field" name="message" placeholder="Message" required rows="8"></textarea>
      <div class="cta">
        <input type="submit" class="submit-btn" value="envoyer">
      </div>
  </form>
  </div>
</section>
