---
layout: default
lang: fr
---

<section class="welcome-section">
  <div class="wrapper">
    <h1>Développement d'applications web sur mesure avec <span style="white-space: nowrap">Ruby on Rails</span></h1>
    <h2>Consultant Freelance, Lille</h2>
    <div class="cta">
      <a href="#contact" class="btn inverted">Contact</a>
    </div>
  </div>
</section>

<section id="services" class="services-section">
  <div class="wrapper">
    <h1>Services</h1>
    <p>Je vous accompagne techniquement dans la réalisation de vos objectifs et vous propose une collaboration sur les thèmes <span style="white-space: nowrap">suivants :</span></p>
    <ul class="services-list">
      <li class="service">
        <h2 class="service-title">Conception</h2>
        <p class="service-description">
          Analyse technique de votre projet pour en définir l'architecture et les choix technologiques
        </p>
      </li>
      <li class="service">
        <h2 class="service-title">Renforcement d'équipe</h2>
        <p class="service-description">
          Intégration à votre équipe pour développer les fonctionnalités de votre produit
        </p>
      </li>
      <li class="service">
        <h2 class="service-title">Qualité</h2>
        <p class="service-description">
          Mise en place de bonnes pratiques de <span style="white-space: nowrap">développement :</span> outils, gestion des sources, tests automatisés, <span style="white-space: nowrap">sécurité ...</span>
        </p>
      </li>
      <li class="service">
        <h2 class="service-title">Consolidation</h2>
        <p class="service-description">
          Amélioration du code existant afin de préserver la maintenabilité et l'evolutivité de votre produit
        </p>
      </li>
      <li class="service">
        <h2 class="service-title">Optimisation</h2>
        <p class="service-description">
          Amélioration des performances : algorithmique, structures de données, requêtes de bases de <span style="white-space: nowrap">données ...</span>
        </p>
      </li>
    </ul>
    <div class="cta">
      <a href="#contact" class="btn">Contact</a>
    </div>
  </div>
</section>

<section id="technologies" class="technologies-section">
  <div class="wrapper">
    <h1>Technologies</h1>
    <p>L'environnement Ruby, Ruby on Rails, PostgreSQL est celui que j'utilise principalement (sans être exclusif et lorsque ce choix est approprié)</p>
    <ul class="technologies-list">
      <li class="technology">{% include icon-ruby.html %}</li>
      <li class="technology">{% include icon-rails.html %}</li>
      <li class="technology">{% include icon-postgresql.html %}</li>
    </ul>
    <div class="cta">
      <a href="#contact" class="btn">Contact</a>
    </div>
  </div>
</section>

<section id="contact" class="contact-section">
  <div class="wrapper">
    <h1>Contact</h1>
    <p>Echangeons autour de votre projet ! Vous pouvez me contacter par mail : <span class="contact-email">contact@cassisdev.com</span> (ou utiliser le formulaire ci-dessous). Nous pouvons aussi nous rencontrer à Lille</p>
    <form class="contact-form" action="//formspree.io/contact@cassisdev.com" method="POST" target="_blank">
      <input class="field" type="text" name="name" placeholder="Votre nom" required>
      <input class="field" type="email" name="_replyto" placeholder="Votre adresse email" required>
      <input class="field" type="text" name="subject" placeholder="Sujet" required>
      <textarea class="field" name="message" placeholder="Message" required rows="8"></textarea>
      <div class="cta">
        <input type="submit" class="submit-btn" value="envoyer">
      </div>
  </form>
  </div>
</section>
