<header class="site-header">
  <div class="wrapper">
    <nav class="lang-nav">
      <ul>
        <li><a class="lang-nav-link" lang="en" hreflang="en" title="English" href="/en">En</a></li>
        <li><a class="lang-nav-link" lang="fr" hreflang="fr" title="Français" href="/">Fr</a></li>
      </ul>
    </nav>

    <nav class="site-nav">
      <ul>
        <li class="nav-link site-logo"><a href="//cassisdev.com">{% include logo-cassisdev.html %}</a></li>
      </ul>
    </nav>
  </div>
</header>
