<header class="site-header">
  <div class="wrapper">
    <h1 class="site-title"><img src="/images/cassisdev-logo.svg" alt="Cassisdev" class="site-logo"></h1>
    <nav class="lang-nav">
      <ul class="lang-nav-list">
        <li class="lang-nav-item"><a class="lang-nav-link" lang="en" hreflang="en" title="English" href="/en">En</a></li>
        <li class="lang-nav-item"><a class="lang-nav-link" lang="fr" hreflang="fr" title="Français" href="/">Fr</a></li>
      </ul>
    </nav>
  </div>
</header>
