<header class="site-header" role="banner">
  <div class="wrapper">
    <nav class="site-nav" role="navigation">
      <ul>
<!--         <li class="nav-link"><a href="#services">Services</a></li>
        <li class="nav-link"><a href="#technologies">Technologies</a></li> -->
        <li class="nav-link site-logo"><a href="//cassisdev.com">{% include logo-cassisdev.html %}</a></li>
<!--         <li class="nav-link"><a href="#about">About</a></li>
        <li class="nav-link"><a href="#contact">Contact</a></li> -->
      </ul>
    </nav>
  </div>
</header>
