.site-nav {
  text-align: center;
  ul {
    list-style: none;
    margin: 0;

    li {
      display: inline-block;
    }
  }
}

.site-logo {
  width: 100px;
  margin: 0 auto;

  @include media($on-laptop) {
     width: 125px;
  }
}

.cta {
  margin-top: 2em;
  text-align: center;
}

.default-section {
  padding: $spacing-unit 0 $spacing-unit 0;
  margin-bottom: $spacing-unit;

  h1 {
    text-align: center;
    font-size: 1.75em;
  }

  h2 {
    text-align: center;
    font-size: 1.25em;
    font-weight: 300;
  }

  p {
    font-size: 1.25em;
    font-weight: 300;
  }
}

.welcome-section {
  @extend .default-section;
  background-color: $brand-color;
  color: $white-color;
}

.services-section {
  @extend .default-section;

  em {
    margin-bottom: 0.5em;
    display: block;
  }

  .services-list {
    @include outer-container;
    list-style: none;
    margin: 0;
    margin-top: $spacing-unit;

    .service {
      @include clearfix;
      margin-bottom: $spacing-unit / 2;

      .service-title {
        font-size: 1.50em;
        font-weight: 500;
        margin-bottom: 0.75em;
        text-align: center;
        @include span-columns(12);

        @include media($on-laptop) {
          text-align: left;
          @include span-columns(4);
        }
      }

      .service-description {
        font-size: 1.25em;
        font-weight: 300;
        @include span-columns(12);

        @include media($on-laptop) {
           @include span-columns(8);
        }
      }
    }
  }
}

.technologies-section {
  @extend .default-section;

  background-color: $grey-color-light;

  .technologies-list {
    @include outer-container;
    list-style: none;
    margin: 0;
    margin-top: 2em;

    .technology {
      @include span-columns(4);

      svg {
        height: 100px;
      }
    }
  }
}

.contact-section {
  @extend .default-section;
}

.btn {
  display: inline-block;
  margin: 0 auto;

  padding: 10px 15px;
  border: 3px solid $brand-color;
  @include transition-duration(0.2s);
  @include user-select(none);
  text-transform: uppercase;

  &,
  &:visited {
    color: $brand-color;
    background-color: transparent;
    text-decoration: none;
  }

  &:hover,
  &:focus {
    color: $white-color;
    background-color: $brand-color;
    text-decoration: none;
  }

  &.inverted {
    &,
    &:visited {
      color: $white-color;
      border-color: $white-color;
    }

    &:hover,
    &:focus {
      color: $brand-color;
      background-color: $white-color;
    }
  }
}

.submit-btn {
  @extend .btn;
  font-size: $base-font-size;
}

.field {
  background-color: $white-color;
  display: block;
  margin: 0;
  width: 100%;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 300;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}

.field:focus {
  outline: none;
}

.field {
  padding: 10px;
  border: none;
  border-bottom: solid 3px $grey-color-light;
  transition: border 0.2s;
}

.field:focus,
.field.focus {
  border-bottom: solid 3px $brand-color;
}

