.wrapper {
  position: relative;
}

.site-title {
  text-align: center;
}

.site-logo {
  width: 100px;
  margin: 0 auto;
  @include user-select(none);
  @include media($on-laptop) {
     width: 125px;
  }
}

.lang-nav {
  position: absolute;
  top: 0;
  right: 30px;
}

.lang-nav-list {
  list-style: none;
  margin: 0;
}

.lang-nav-item {
  float: right;
}

.lang-nav-link {
  display: block;
  padding: 0 0.75em;
}

.cta {
  margin-top: 2em;
  text-align: center;
}

.section {
  padding: $spacing-unit 0 $spacing-unit 0;
  margin-bottom: $spacing-unit;
  font-weight: 300;

  h2, h3 {
    text-align: center;
  }

  @include media($on-laptop) {
    font-size: 1.15em;
  }
}

.subtitle {
  text-align: center;
}

.welcome-section {
  background-color: $brand-color;
  color: $white-color;
}

.services-section {
  .services-list {
    list-style: none;
    margin: 0;
    @include outer-container;
    margin-top: $spacing-unit;
  }

  .service-item {
    @include clearfix;
    margin-bottom: $spacing-unit / 2;
  }

  .service-title {
    text-align: center;
    @include span-columns(12);

    @include media($on-laptop) {
      text-align: left;
      @include span-columns(4);
    }
  }

  .service-description {
    @include span-columns(12);

    @include media($on-laptop) {
       @include span-columns(8);
    }
  }
}

.technologies-section {
  background-color: $grey-color-light;

  @include media($on-laptop) {
    p {
      text-align: center;
    }
  }

  .technologies-list {
    list-style: none;
    margin: 0;

    @include outer-container;
    margin-top: 1.5em;
  }

  .technology-item {
    @include span-columns(4);
    text-align: center;

    .tech-logo {
      height: 75px;
    }
  }
}

.contact-section {
  .contact-email {
    border-bottom: 1px solid;
  }

  .contact-form {
    padding-top: 1em;
  }
}

.btn {
  display: inline-block;
  margin: 0 auto;
  font-size: 1rem;
  font-weight: normal;
  padding: 0.7rem 0.95rem;
  border: 3px solid $brand-color;
  @include transition-duration(0.2s);
  @include user-select(none);
  text-transform: uppercase;

  &, &:visited {
    color: $brand-color;
    background-color: transparent;
    text-decoration: none;
  }

  &:hover, &:focus {
    color: $white-color;
    background-color: $brand-color;
    text-decoration: none;
  }
}

.btn-inverted {
  &, &:visited {
    color: $white-color;
    border-color: $white-color;
  }

  &:hover, &:focus {
    color: $brand-color;
    background-color: $white-color;
  }
}

.field {
  background-color: $white-color;
  display: block;
  margin: 0 0 1em 0;
  width: 100%;
  font-family: $base-font-family;
  font-size: 1em;
  font-weight: 300;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}

.field:focus {
  outline: none;
}

.field {
  padding-bottom: 0.5em;
  border: none;
  border-bottom: solid 3px $grey-color-light;
  transition: border 0.2s;
}

.field:focus, .field.focus {
  border-bottom: solid 3px $brand-color;
}

.submit-btn {
  @extend .btn;
  font-size: 1rem;
  font-weight: $base-font-weight;
}

.site-footer {
  .contact-link-list {
    list-style: none;
    margin: 0;
    text-align: center;
  }

  .contact-link-item {
    display: inline-block;
    padding-right: 1em;
    margin-bottom: 1.5em;
  }

  a, a:visited {
    color: $white-color;
    text-decoration: none;
  }

  a:hover {
    color: $white-color;
    text-decoration: underline;
  }

  .copyright {
    font-weight: 300;
    text-align: center;
  }
}