/**
 * Site header
 */
.site-header {
    padding-top: $spacing-unit;
    position: relative;
}

/**
 * Site footer
 */
.site-footer {
  background-color: $brand-color;
  color: $white-color;
  //min-height: 200px;

  .copyright {
    padding: 1.5em;
    //text-transform: uppercase;
    text-align: center;
  }
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}


