/**
 * Site header
 */
.site-header {
    padding-top: $spacing-unit;
    position: relative;
}

/**
 * Site footer
 */
.site-footer {
  background-color: $brand-color;
  color: $white-color;
  padding: 1.5em;
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}


